.initTarBarShadow {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 9;
	width: 100%;
    height: calc(var(--window-bottom) + 1px);
	
	[data-theme='light'] &{
		background-color: #e3e3e3;
	}
	[data-theme='dark'] &{
		background-color: #292F3C;
	}
}