.swiperBox {
	@include themeBgColor('globalColor-bgStyle');
	@include flexCenter;
	height: 260upx;
	margin-top: 15upx;

	&-wrapper {
		width: 100%;
	}

	&-swiper {
		height: 260upx;

		&__item {
			@include flexCenterColumn;
			@include fullImage;
			width: 100%;
			height: 260upx;
			padding: 0 30upx;
			overflow: hidden;

			image {
				border-radius: 20upx;
			}
		}
	}
}

.noticeBox {
	@include themeBgColor('globalColor-bgStyle');
	@include themeBorderColor('globalColor-holderStyle');
	border-bottom: 2upx solid;
	padding: 15upx 30upx;

	&-wrapper {
		@include flexBetween;
		// background: url(@/static/index/icon-notice-more.png) no-repeat;
		background-position: right center;
		background-size: 30upx 30upx;
	}

	&-icon {
		@include fullImage;
		margin-right: 15upx;
		width: 66upx;
	}

	&-swiper {
		height: 60upx;
		flex: 1;
		padding-right: 45upx;

		&__item {
			@include flexCenter;
			&-label {
				@include themeColor('globalColor-fontStyle');
				font-size: 24upx;
				font-weight: bold;
				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}

	&-btn {
		@include themeBgColor('globalColor-themeStyle');
		color: #ffffff;
		font-size: 24upx;
		font-weight: 300;
		padding: 8upx 15upx;
		border-radius: 10upx;
	}
}

.etiquetaBox {
	&-wrapper {
		@include themeBorderColor('globalColor-holderStyle');
		@include themeBgColor('globalColor-bgStyle');
		@include flexCenter;
		flex-wrap: wrap;
		border-bottom: 20upx solid;
		padding: 0 30upx;
	}

	&-item {
		@include flexCenterColumn;
		width: 25%;
		padding: 30upx 0;

		&__icon {
			@include fullImage;
			width: 60upx;
			margin-bottom: 15upx;
		}
		&__label {
			@include themeColor('globalColor-fontStyle');
			font-size: 24upx;
			font-weight: bold;
		}
	}
}

.iconBannerBox {
	@include themeBorderColor('globalColor-holderStyle');
	@include themeBgColor('globalColor-bgStyle');
	border-bottom: 20upx solid;
	
	&-wrapper {
		@include flexLeft;
		padding: 30upx;
		
		background-repeat: no-repeat;
		background-position: right center;
		background-size: 115upx 88upx;
		@include themeBgImg('@/static/index/icon-iconBanner-btn-light.png','@/static/index/icon-iconBanner-btn-dark.png');
	}
	
	&-icon {
		@include fullImage;
		width: 66upx;
		margin-right: 30upx;
	}
	
	&-title{
		@include themeColor('globalColor-fontStyle');
		font-size: 32upx;
		font-weight: bold;
	}
	
	&-desc{
		@include themeColor('globalColor-fontStyle');
		font-size: 24upx;
		font-weight: 300;
	}
}

.rankingBox{
	@include themeBgColor('globalColor-bgStyle');
	padding-bottom: 30upx;
	
	&-wrapper{
		padding: 30upx;
	}
	
	&-title{
		margin-bottom: 30upx;
	}
	
	&-record{
		background-size: 30upx 30upx;
		background-repeat: no-repeat;
		background-position: center center;
		width: 30upx;
		height: 30upx;
		@include themeBgImg('@/static/public/icon-more-light.png', '@/static/public/icon-more-dark.png');
	}
	
	&-body{
		@include flexLeft;
	}
	
	&-item{
		@include themeBgColor('globalColor-cardStyle');
		@include flexCenterColumn;
		@include initShadow;
		padding: 30upx 0;
		// flex: 1;
		width: 33.33%;
		margin-right: 20upx;
		border-radius: 18upx;
		position: relative;
		
		&::before{
			content: '';
			display: inline-block;
			width: 100%;
			height: 33upx;
			background-repeat: no-repeat;
			background-size: 100% 33upx;
			background-position: center center;
			position: absolute;
			top: -12upx;
			left: 50%;
			transform: translateX(-50%);
		}
		
		&:nth-child(3n+1){
			&::before{
				background-image: url(@/static/index/icon-ranking-01.png);
			}
		}
		
		&:nth-child(3n+2){
			&::before{
				background-image: url(@/static/index/icon-ranking-02.png);
			}
		}
		
		&:nth-child(3n+3){
			&::before{
				background-image: url(@/static/index/icon-ranking-03.png);
			}
		}
		
		&:last-child{
			margin-right: 0;
		}
		
		&__avatar{
			@include initAvatar(86);
			margin-bottom: 20upx;
		}
		
		&__userName{
			@include themeColor('globalColor-fontStyle');
			font-size: 24upx;
			font-weight: bold;
			margin-bottom: 20upx;
		}
		
		&__data{
			@include themeColor('globalColor-fontStyle');
			font-size: 28upx;
			font-weight: bold;
		}
		
		&__label{
			@include themeColor('globalColor-fontSubStyle');
			font-size: 20upx;
			font-weight: 300;
		}
	}
}

.quotesBox {
	@include themeBgColor('globalColor-bgStyle');
	
	&-wrapper {
		padding: 0 30upx 30upx;
	}
	
	&-title {
		margin-bottom: 15upx;
	}
	
	&-content{
		@include flexBetween;
		flex: 3;
	}

	&-body {
	}

	&-header {
		@include themeColor('globalColor-fontSubStyle');
		@include flexBetween;
		font-size: 20upx;
	}

	&-list {
		@include themeBorderColorValue(#e6e6e6, #2d343d);
		@include flexBetween;
		padding: 15upx 0;
		border-bottom: 1px solid;
		
		&:last-child{
			border-bottom: 0;
		}
	}

	&-data {
		@include flexLeft;
		flex: 1;
		text-align: center;
		padding: 8upx 0;
		font-size: 24upx;

		&--flex2 {
			flex: 2;
		}

		&--3 {
			flex: 3;
		}

		&:first-child {
			text-align: left;
			justify-content: flex-start;
		}

		&:last-child {
			text-align: right;
			justify-content: flex-end;
		}
	}

	&-icon {
		@include initAvatar(60);
		@include fullImage;
		margin-right: 10upx;
	}

	&-info {
		@include flexLeft;
	}
	
	&-tradeCurrencyName{
		@include themeColor('globalColor-fontStyle');
		font-size: 32upx;
		font-weight: 300;
	}
	
	&-currencyName{
		@include themeColor('globalColor-fontSubStyle');
		font-size: 24upx;
		font-weight: 300;
	}
	
	&-quantity{
		@include themeColor('globalColor-fontSubStyle');
		font-size: 22upx;
	}
	
	&-price{
		@include themeColor('globalColor-fontStyle');
		font-size: 32upx;
		font-weight: 300;
	}
	
	&-cny{
		@include themeColor('globalColor-fontSubStyle');
		font-size: 24upx;
	}
	
	&-button {
		// width: 100%;
		@include flexRight;
		
		&__btn {
			@include flexCenter;
			padding: 10upx 30upx;
			border-radius: 12upx;
			color: #ffffff;
			font-size: 28upx;
			width: 120upx;
			background-color: #999999;
			
			&--up {
				@include themeBgColor('globalColor-green');
			}
			
			&--down {
				@include themeBgColor('globalColor-red');
			}
		}
	}
}