.asset{
	&-header{
		background: url(../../static/index/icon-index-bg.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		padding: 32upx 32upx 44upx;
		&-title{
			margin-top: 68upx;
			padding: 68upx 0 20upx;
			color: $globalColor-white;
			font-size: 28upx;
		}
		&-num{
			&__data{
				color: $globalColor-white;
				font-size: 60upx;
			}
			&__cny{
				color: $globalColor-white;
				font-size: 24upx;
				margin-left: 20upx;
			}
		}
		&-btn{
			@include flexBetween;
			margin: 40upx 0 34upx;
			& > view{
				font-size: 24upx;
				color: $globalColor-white;
				padding: 12upx 0;
				border-radius: 12upx;
				text-align: center;
				width: 22%;
				background: #539AF5;
				border: 1px solid $globalColor-white;
			}
		}
	}
	&_tabs{
		// background: $globalColor-white;
		border-bottom: 1px solid rgba(0,0,0,0.10);
		padding:  20upx 54upx 0;
		&-list{
			@include flexBetween;
			// padding: 0 94upx;
			&-txt{
				// margin-right: 68upx;
				color: #999999;
				font-size: 28upx;
				padding-bottom: 12upx;
				border-bottom:2px solid transparent;
			}
			.active{
				color: $globalColor-style;
				border-bottom:2px solid $globalColor-style;
			}
		}
	}
	&-wrapper{
		margin-bottom: 12upx;
	}
	&-total{
		margin-top: -40upx;
		border-radius: 40upx 40upx 0 0;
		background: $globalColor-white;
		&-box{
			background: $globalColor-white;
			@include flexBetween;
			padding: 47upx 52upx;
			&__item{
				&--title{
					color: #666666;
					font-size: 20upx;
					margin-bottom: 10upx;
				}
				&--data{
					@include flexLeft;
					&__data{
						color: $globalColor-fontStyle;
						font-size: 40upx;
						margin-right: 20upx;
					}
					&__cny{
						color: #666666;
						font-size: 24upx;
					}
				}
			}
			image{
				width: 86upx;
				height: 86upx;
			}
		}
	}
	&-listP{padding-bottom: 159upx;}
	&-list{
		background: $globalColor-white;
		&-header{
			margin-top: 12upx;
			color: $globalColor-fontStyle;
			font-size: 32upx;
			padding: 25upx 32upx;
			font-weight: 800;
			border-bottom: 1px solid rgba(0,0,0,0.10);
		}
		&-box{
			&__item{
				border-bottom: 1px solid rgba(0,0,0,0.10);
				margin: 0 32upx;
				padding: 32upx 0;
				&--title{
					color: $globalColor-style;
					font-size: 32upx;
					font-weight: 800;
					&--next{
						background: url(../../static/public/icon-next.png);
						background-position: center right 0upx;
						background-size: 22upx 22upx;
						background-repeat: no-repeat;
					}
				}
				.big{font-size: 48upx;font-weight: 800;}
				&--info{
					@include flexBetween;
				}
				&--content:nth-last-child(2){
					@include flexCenterColumn;
				}
				&--content:nth-last-child(1){
					@include flexRightColumn;
				}
				&--content{
					@include flexLeftColumn;
					margin-top: 20upx;
					&-txt{
						color: #999999;
						font-size: 20upx;
					}
					&-num{
						color: #333333;
						font-size: 28upx;
						font-weight: 700;
					}
				}
			}
		}
	}
}