$themes: (
	light: (
		globalColor-themeStyle: #0169ff,
		globalColor-themeSubStyle: #ffdd00,
		globalColor-bgStyle: #FFFFFF,
		globalColor-pageStyle: #FFFFFF,
		globalColor-cardStyle: #FFFFFF,
		globalColor-fontStyle: #101010,
		globalColor-fontSubStyle: #999999,
		globalColor-fontStyleReverse: #ffffff,
		globalColor-green: #00c087,
		globalColor-greenLight: #edf8f5,
		globalColor-red: #f75555,
		globalColor-redLight: #ffeded,
		globalColor-borderStyle: #e1e1e1,
		globalColor-inputBorderStyle: #cccccc,
		globalColor-inputBgStyle: #f0f0f0,
		globalColor-placeholderStyle: #cccccc,
		globalColor-holderStyle: #f5f5f5,
	),
	dark: (
		globalColor-themeStyle: #0169ff,
		globalColor-themeSubStyle: #ffdd00,
		globalColor-bgStyle: #171f32,
		globalColor-pageStyle: #0d1625,
		globalColor-cardStyle: #1e2c46,
		globalColor-fontStyle: #FFFFFF,
		globalColor-fontSubStyle: #65778e,
		globalColor-fontStyleReverse: #161616,
		globalColor-green: #00c087,
		globalColor-greenLight: #162e3a,
		globalColor-red: #f75555,
		globalColor-redLight: #2e2536,
		globalColor-borderStyle: #666666,
		globalColor-inputBorderStyle: #2e3c57,
		globalColor-inputBgStyle: #1e2c46,
		globalColor-placeholderStyle: #303f5a,
		globalColor-holderStyle: #0d1625
	)
);