page{
	background: $globalColor-bgStyle;
	height: 100vh;
	overflow: scroll;
}
.record{
	.recordBox{
		margin: 30upx 0;
		&-list{
			&-header{
				@include flexBetween;
				padding: 30upx 30upx;
				border-radius: 20upx;
				margin: 0 30upx 20upx;
				background: $globalColor-white;
				&-title{
					color: $globalColor-fontStyle;
					font-weight: bold;
					font-size: 32upx;
					@include initBeforeHolder;
				}
				&-price{
					color: $globalColor-fontStyle;
					font-size: 32upx;
					font-weight: bold;
				}
			}
			&-item{
				@include flexBetween;
				padding: 20upx 30upx;
				&-title{
					color: #999999;
					font-size: 24upx;
				}
				&-status{
					color: $globalColor-fontStyle;
					font-size: 28upx;
					word-break: break-all;
					text-align: right;
					width: 70%;
				}
			}
		}
		&-waysList{
			@include flexLeft;
			image{
				width: 44upx;
				height: 44upx;
				margin-left: 20upx;
			}
		}
	}
}