.initButtonTabs{
	&-control {
		@include flexCenter;
		@include initShadow;
		position: relative;
		border-radius: 18upx;
		overflow: hidden;
		background-color: #ffffff;
	
		&__aniBg {
			@include initTransition(0.4);
			display: inline-block;
			border-radius: 18upx;
			width: 33.33%;
			height: 100%;
			background-color: $globalColor-style;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	
		&__item {
			@include flexCenter;
			@include initTransition(0.4);
			color: #101010;
			font-size: 32upx;
			font-weight: bold;
			flex: 1;
			padding: 20upx 0;
			position: relative;
			z-index: 1;
	
			&--active {
				color: #ffffff;
			}
		}
	}
}