@each $theme-name, $theme-map in $themes {
	[data-theme='#{$theme-name}'] {
		background-color: map-get($theme-map, 'globalColor-bgStyle');
	}
}

.tabsBox {
	&-control {
		@include flexCenter;
		border-bottom: 1px solid #e6e6e6;

		&__item {
			@include themeColor('globalColor-fontStyle');
			@include initTransition(0.4);
			@include flexCenter;
			padding: 30upx 0;
			flex: 1;
			font-size: 28upx;
			font-weight: bold;
			position: relative;

			&::after {
				@include themeBgColor('globalColor-themeStyle');
				@include initTransition(0.4);
				content: '';
				display: inline-block;
				width: 0;
				height: 6upx;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
			}

			&--active {
				@include themeColor('globalColor-themeStyle');

				&::after {
					width: 54upx;
				}
			}
		}
	}
}

.titleBox {
	margin-bottom: 60upx;

	&-wrapper {
		padding: 30upx;
	}

	&-title {
		color: #FFFFFF;
		font-size: 52upx;
		font-weight: bold;
	}

	&-msg {
		@include themeColor('globalColor-fontStyle');
		font-size: 36upx;
		font-weight: bold;
		margin-top: 60upx;
	}

	&-note {
		color: #a9d8ff;
		font-size: 24upx;
		font-weight: 300;
		margin-top: 8upx;
	}
}

.main {
	position: relative;
	z-index: 1;
	padding: 0 30upx;
}

.planeBox {
	&-wrapper {
		@include themeBgColor('globalColor-bgStyle');
		padding: 30upx;
		border-bottom-left-radius: 28upx;
		border-bottom-right-radius: 28upx;
	}
}

.operateBox {
	&-wrapper {
	}

	&-item {
		margin-bottom: 30upx;
		position: relative;

		&__list {
			@include flexLeft;
			align-items: stretch;
		}
		&__label {
			@include themeColor('globalColor-fontStyle');
			font-size: 28upx;
			font-weight: bold;
			margin-bottom: 15upx;
		}

		&__zone {
			@include themeColor('globalColor-fontStyle');
			width: 140upx;
			margin-right: 15upx;
			// border-right: 1upx solid $globalColor-style;
			// background: url(@/static/public/icon-triangle-bottom-black.png) no-repeat;
			background-position: calc(100% - 15upx) center;
			background-size: 24upx 12upx;
			background-repeat: no-repeat;
			
			@include themeBgImg('@/static/public/icon-triangle-bottom-black.png','@/static/public/icon-triangle-bottom-white.png')
		}

		&__input {
			@include flexLeft;
			@include initTransition(0.4);
			@include themeBgColor('globalColor-inputBgStyle');
			@include themeBorderColor('globalColor-inputBorderStyle');
			border: 1px solid;
			position: relative;
			border-radius: 18upx;
			padding: 30upx;
			flex: 1;

			&.showCloseBtn {
				.operateBox-item__fixedBox-btn--clear {
					display: flex;
				}
			}

			input {
				@include themeColor('globalColor-fontStyle');
				font-size: 32upx;
				font-weight: 300;
				flex: 1;
			}
		}

		&__placeholder {
			@include themeColor('globalColor-placeholderStyle');
			font-size: 32upx;
			font-weight: 300;
		}

		&__fixedBox {
			@include flexRight;

			&-btn {
				width: 60upx;
				height: 100%;
				z-index: 999;
				@include flexCenter;

				&--clear {
					display: none;
					image {
						width: 40upx;
						@include fullImage;
					}
				}

				&--eye {
					image {
						width: 40upx;
						@include fullImage;
					}
				}
			}
		}

		&__verify {
			@include themeColor('globalColor-themeStyle');
			border-radius: 20upx;
			font-size: 32upx;
			font-weight: bold;
		}
	}

	&-button {
		margin-top: 90upx;
		padding: 0;

		&__btn {
			@include initTransition(0.4);
			@include themeBgColor('globalColor-themeStyle');
			padding: 30upx 0;
			border-radius: 8upx;
			font-size: 36upx;
			text-align: center;
			color: #000f11;
			font-weight: bold;
		}
	}

	&-checkbox {
		margin-top: 120upx;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		font-size: 24upx;
		color: #999999;

		.linkColor {
			@include themeColor('globalColor-themeStyle');
			// color: $globalColor-style;
		}
	}

	&-row {
		@include flexBetween;
		margin-top: 30upx;
	}

	&-linkBtn {
		@include themeColor('globalColor-fontSubStyle');
		font-size: 24upx;
		font-weight: 300;
	}

	&-textButton {
		@include themeColor('globalColor-fontStyle');
		margin-top: 30upx;
		width: 100%;
		text-align: center;
		font-size: 24upx;
		font-weight: 300;

		&--style {
			@include themeColor('globalColor-themeStyle');
		}
	}

	&-btn {
		margin-top: 150upx;
	}
}

.fixedBox {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	&-wrapper {
		padding: 60upx 30upx;
	}

	&-link {
		@include themeColor('globalColor-fontStyle');
		@include flexCenter;
		width: 100%;
		text-align: center;
		padding: 30upx;
		font-size: 24upx;
		font-family: 300;

		&__btn {
			color: $globalColor-style;
		}
	}
}

.copyrightBox {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;

	&-wrapper {
		@include flexCenterColumn;
		padding: 60upx 0;
	}

	&-logo {
		@include fullImage;
		width: 76upx;
		position: relative;
		margin-bottom: 30upx;

		&::before,
		&::after {
			content: '';
			display: inline-block;
			width: 34upx;
			height: 1px;
			background-color: #cccccc;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		&::before {
			left: calc(100% + 30upx);
		}

		&::after {
			right: calc(100% + 30upx);
		}
	}

	&-title {
		@include flexCenter;
		width: 100%;
		text-align: center;
		color: #999999;
		font-size: 20upx;
		font-family: 300;
	}
}
