.bgBox{
	position: absolute;
	top: 0;
	width: 100%;
	background: $globalColor-style;
	height: 200upx;
	z-index: 0;
}

.record{
	.recordBox{
		margin: 0 30upx;
		&-list{
			padding-top: 20upx;
			margin-bottom: 20upx;
			border-radius: 20upx;
			background: $globalColor-white;
			&-header{
				@include flexBetween;
				padding: 0 30upx;
				&-title{
					color: $globalColor-fontStyle;
					font-weight: bold;
					font-size: 32upx;
					@include initBeforeHolder;
				}
				&-price{
					color: $globalColor-fontStyle;
					font-weight: bold;
					font-size: 28upx;
					image{
						width: 16upx;
					}
				}
			}
			&-box{
				@include flexLeft;
			}
			&-item:nth-child(1){width: 40%;}
			&-item:nth-last-child(1){@include flexRightColumn;}
			&-item{
				@include flexLeftColumn;
				padding: 20upx 30upx;
				width: 30%;
				&-title{
					color: #999999;
					font-size: 24upx;
				}
				&-status{
					color: $globalColor-fontStyle;
					font-size: 28upx;
					font-weight: bold;
					word-break: break-all;
					text-align: right;
					white-space: nowrap;
				}
			}
			&-hash{
				background: #faf6f0;
				border-radius: 0 0 20upx 20upx;
				color: $globalColor-fontStyle;
				font-size: 28upx;
				font-weight: bold;
				padding: 20upx 30upx;
			}
		}
	}
}