.initNoData{ 
	font-size: 28upx;
	color: #666666;
	text-align: center;
	padding: 60upx 0;
	
	&::before{
		content: '';
		width: 100%;
		height: 310upx;
		display: inline-block;
		background-image: url('~@/static/public/img-nodata-1.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 400upx 310upx;
	}
}