@each $theme-name, $theme-map in $themes {
	[data-theme='#{$theme-name}'] {
		background-color: map-get($theme-map, 'globalColor-holderStyle');
	}
}

.listBox {
	&-wrapper {
		padding: 30upx;
	}
	
	&-list {
		@include themeBgColor('globalColor-bgStyle');
		@include initShadow;
		margin-bottom: 30upx;
		padding: 30upx;
		border-radius: 24upx;

		&:last-child {
			margin-bottom: 0;
		}

		&__header {
			@include flexLeft;
			margin-bottom: 30upx;
			position: relative;
		}

		&__body {
			@include flexBetween;
		}

		&__footer {
			border-top: 1upx dashed #333333;
			margin-top: 30upx;
			padding-top: 30upx;
			@include flexBetween;
		}

		&__title {
			@include themeColor('globalColor-fontStyle'); 
			@include initBeforeHolder;
			font-size: 32upx;
			font-weight: 300;
			margin-right: 15upx;
			padding-left: 20upx;
		}

		&__period {
			@include themeColor('globalColor-fontSubStyle');
			font-size: 20upx;
		}

		&__date {
			@include themeColor('globalColor-fontSubStyle');
			font-size: 28upx;
			font-weight: 300;
			text-align: right;
			flex: 1;
		}

		&__item {
			flex: 1;
			text-align: left;

			&--long {
				flex: 2;
			}

			&:nth-child(3n) {
				text-align: right;
			}

			&-label {
				@include themeColor('globalColor-fontSubStyle');
				text-transform: uppercase;
				font-size: 24upx;
				margin-bottom: 15upx;
			}

			&-data {
				@include themeColor('globalColor-fontStyle');
				font-size: 28upx;
				font-weight: 300;
			}
		}

		&__address {
			@include themeColor('globalColor-fontStyle');
			@include flexLeft;
			font-size: 28upx;
			font-weight: 300;
		}
	}
}