.logoBox {
	margin: 90upx auto;
	width: 180upx;
	@include fullImage;
}

.operateBox {
	padding: 0 30upx;

	&-tabs {
		padding: 30upx 0;
		&__control {
			@include flexLeft;
			align-items: flex-end;
			height: 90upx;
			&-item {
				color: #c6c7d2;
				font-size: 32upx;
				margin-right: 15upx;
				@include initTransition(0.2);
				&--active {
					color: #101010;
					font-size: 52upx;
				}
			}
		}
	}

	&-list {
		margin-bottom: 60upx;

		&__label {
			color: #101010;
			font-size: 32upx;
			margin-bottom: 15upx;
		}
		&__input {
			@include flexLeft;
			@include initTransition(0.4);
			font-size: 32upx;
			padding: 15upx 0;
			position: relative;
			border-bottom: 2upx solid #c6d2e4;
			color: #101010;

			&--active {
				border-bottom: 2upx solid $globalColor-blue;
			}

			&.showCloseBtn {
				.operateBox-list__fixedBox-btn--clear {
					display: flex;
				}
			}

			input {
				font-size: inherit;
				flex: 1;
			}
		}

		&__placeholder {
			font-size: 32upx;
			color: #c2c3cf;
		}

		&__fixedBox {
			@include flexRight;

			&-btn {
				width: 60upx;
				height: 100%;
				z-index: 999;
				@include flexCenter;

				&--clear {
					display: none;
					image {
						width: 30upx;
						@include fullImage;
					}
				}

				&--eye {
					image {
						width: 40upx;
						@include fullImage;
					}
				}
			}

			&-verification {
				padding: 0 15upx;
				color: $globalColor-blue;
			}
		}
	}

	&-button {
		margin-top: 90upx;
		padding: 0;
		&__btn {
			@include initTransition(0.4);
			padding: 30upx 0;
			border-radius: 15upx;
			font-size: 34upx;
			text-align: center;
			color: $globalColor-blur;

			&--active {
				color: #ffffff;
			}

			&--green {
				background-color: $globalColor-green;
			}

			&--blue {
				background-color: $globalColor-blue;
				box-shadow: 2px 2px 20upx rgba(58, 121, 222, 0.5);
			}
		}
	}

	&-checkbox {
		margin-top: 120upx;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		font-size: 24upx;
		color: #999999;
		.linkColor {
			color: $globalColor-blue;
		}
	}

	&-rightButton {
		color: #101010;
		font-size: 28upx;
		text-align: right;
	}

	&-textButton {
		width: 100%;
		text-align: center;
		padding: 30upx;
		color: $globalColor-blue;
		font-size: 30upx;
	}
}

.titleBox {
	padding: 30upx;
	text-align: left;
	&-title {
		font-size: 40upx;
		font-weight: bold;
		color: #101010;
	}
	&-note {
		color: #c2c3cf;
		font-size: 28upx;
		&__btn {
			color: $globalColor-blue;
		}
	}
}

.moreBox {
	// position: absolute;
	// bottom: 0;
	// z-index: 1;
	// width: 100%;
	// left: 0;
	margin-top: 200upx;
	&-wrapper {
		padding: 0 30upx;
	}
	&-title {
		color: #acb1b0;
		text-align: center;
		position: relative;
		width: 100%;
		overflow: hidden;
		text {
			background-color: #101010;
			z-index: 1;
			padding: 15upx 30upx;
			position: relative;
			font-size: 28upx;
		}

		&:after,
		&:before {
			content: '';
			height: 4upx;
			width: 100%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			background-color: #eeeeee;
		}
		&:after {
			left: 0;
		}
		&:before {
			right: 0;
		}
	}
	&-tools {
		display: flex;
		align-items: center;
		justify-content: center;
		// margin-top: 60upx;
		padding: 60upx;
		&__item {
			width: 160upx;
			margin: 0 30upx;
			color: #acb1b0;
			font-size: 24upx;
			text-align: center;
			&-icon {
				width: 100upx;
				margin: 0 auto 30upx;
				image {
					width: 100%;
				}
			}
		}
	}
}
