.bgBox {
	background: url(@/static/index/img-bg.png) no-repeat;
	background-size: 100% 468upx;
	background-position: top;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 468upx;
	z-index: 0;
}

.swiperBox {
	height: 290upx;
	// padding: 0 30upx;
	position: relative;
	@include flexCenter;

	&-wrapper {
		width: 100%;
	}

	&-swiper {
		height: 290upx;

		&__item {
			width: 100%;
			height: 260upx;
			padding: 0 30upx;
			overflow: hidden;
			@include flexCenterColumn;

			image {
				width: 100%;
				border-radius: 20upx;
				box-shadow: 0 0 10upx 0upx $globalColor-style;
				// @include initShadow;
			}
		}
	}
}

.noticeBox {
	padding: 15upx 30upx;
	font-size: 28upx;
	border-bottom: 1upx solid #333333;
	position: relative;
	z-index: 1;
	&-wrapper {
		@include flexBetween;
		background: url(@/static/index/icon-notice-more.png) no-repeat;
		background-position: right center;
		background-size: 30upx 30upx;
	}

	&-icon {
		margin-right: 15upx;

		image {
			width: 50upx;
			@include fullImage;
		}
	}

	&-swiper {
		height: 60upx;
		flex: 1;
		padding-right: 45upx;

		&__item {
			@include flexCenter;
			&-label {
				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				color: $globalColor-fontStyle;
				font-weight: bold;
			}
		}
	}

	&-btn {
		background-color: $globalColor-style;
		color: $globalColor-fontStyle;
		font-size: 24upx;
		padding: 8upx 15upx;
		border-radius: 8upx;
	}
}

.etiquetaBox {
	padding: 15upx;
	position: relative;
	z-index: 2;

	&-wrapper {
		@include flexCenter;
		flex-wrap: wrap;
		border-radius: 30upx;
	}
	&-item {
		@include flexCenterColumn;
		width: 25%;
		padding: 15upx;

		&__icon {
			width: 64upx;
			margin-bottom: 15upx;
			@include fullImage;
		}
		&__label {
			font-size: 24upx;
			color: $globalColor-fontStyle;
		}
	}
}

.bannerBox {
	width: 100%;
	padding: 30upx;
	&-image {
		width: 100%;
		border-radius: 30upx;
		overflow: hidden;
		@include fullImage;
	}
}

.cardBox {
	padding: 30upx 0;

	&-swiperBox {
		padding: 0 15upx;
		&__swiper {
			height: 240upx;
		}
		
		&__item {
			@include flexCenter;
			// @include calcMargin(30);
			height: 100%;
			// margin: 0 15upx;
			padding: 0 15upx;
		}
		
		&__content {
			@include flexCenterColumn;
			height: 100%;
			width: 100%;
			background-color: #0f1d1f;
			color: $globalColor-fontStyle;
			border-radius: 15upx;
		
			&--green {
				color: $globalColor-green;
			}
		
			&--red {
				color: $globalColor-red;
			}
		}
	}
}

.chartBox {
	text-align: center;
	&-title {
		margin-bottom: 15upx;
		
		&__left{
			font-size: 28upx;
			font-weight: 300;
			color: $globalColor-fontStyle;
		}
		
		&__right{
			font-size: 20upx;
			font-weight: 300;
			color: #999999;
		}
	}

	&-data {
		margin-bottom: 15upx;
		font-size: 36upx;
		font-weight: 300;
	}

	&-gain {
		@include flexCenter;
		@include fullImage;
		font-size: 24upx;
		margin-bottom: 15upx;
	}

	&-chart {
		canvas {
			width: 100%;
			height: 100upx;
		}
	}

	&-money {
		color: #999999;
		font-size: 24upx;
		font-weight: 300;
	}
}

.quotesBox {
	// border-top: 16upx solid #f5f6f8;
	&-wrapper {
		// padding: 0 30upx;
	}

	&-title {
		@include flexBetween;

		border-bottom: 1upx solid #333333;
		padding: 30upx;

		&__label {
			@include initBeforeHolder;
			font-size: 32upx;
			color: $globalColor-fontStyle;
			font-weight: bold;
		}

		&__more {
			color: #999999;
			font-size: 24upx;
		}
	}

	&-header {
		@include flexBetween;
		color: #999999;
		font-size: 20upx;
		padding: 15upx 30upx;
	}
	&-data {
		flex: 1;
		text-align: center;
		padding: 8upx 0;
		font-size: 24upx;
		@include flexLeft;

		&--2 {
			flex: 2;
		}
				
		&--3 {
			flex: 3;
		}

		&:first-child {
			text-align: left;
			justify-content: flex-start;
		}

		&:last-child {
			text-align: right;
			justify-content: flex-end;
		}
	}

	&-list {
		@include flexBetween;
		padding: 15upx 30upx;
		border-bottom: 1upx solid #333333;
	}

	&-icon {
		margin-right: 10upx;
		width: 60upx;
		overflow: hidden;
		border-radius: 50%;
		@include fullImage;
	}

	&-info {
		@include flexLeft;
		align-items: flex-end;
		text-align: left;

		&__title {
			color: #999999;
			font-size: 24upx;
			font-weight: 300;
			.hidelight {
				color: $globalColor-fontStyle;
				font-size: 32upx;
			}
		}

		&__price {
			color: $globalColor-fontStyle;
			font-weight: 300;
			font-size: 32upx;
		}
		&__data {
			color: #999999;
			font-size: 20upx;
		}
	}
	&-button {
		// width: 100%;
		@include flexRight;
		&__btn {
			@include flexCenter;
			padding: 10upx 30upx;
			border-radius: 6upx;
			color: $globalColor-fontStyle;
			font-size: 28upx;
			width: 120upx;
			background-color: #999999;
			&--up {
				// background-color: $globalColor-green;
				@include initButtonGradGreen;
			}
			&--down {
				// background-color: $globalColor-red;
				@include initButtonGradRed;
			}
		}
	}
}


.planeBox {
	padding: 0 30upx;
	&-wrapper {
		background: url(@/static/index/img-plane-bg.jpg) no-repeat;
		background-size: cover;
		background-position: center;
		padding: 0 8upx;
		border-top-left-radius: 30upx;
		border-top-right-radius: 30upx;
		position: relative;
	}

	&-eye {
		position: absolute;
		right: 30upx;
		top: 30upx;
		width: 40upx;
		height: 40upx;
		background-image: url(@/static/public/icon-eye-open-white.png);
		background-size: 40upx 40upx;
		background-repeat: no-repeat;

		&--open {
			background-image: url(@/static/public/icon-eye-open-white.png);
		}
		&--close {
			background-image: url(@/static/public/icon-eye-close-white.png);
		}
	}

	&-header {
		border-bottom: 1upx solid #f2f2f0;
		padding: 30upx;

		&__label {
			color: $globalColor-style;
			font-size: 34upx;
			font-weight: bold;
			margin-bottom: 15upx;
		}

		&__total {
			color: $globalColor-style;
			font-size: 34upx;
		}

		&__cny {
			color: $globalColor-style;
			font-size: 24upx;
		}
	}

	&-itemBox {
		@include flexCenter;
		&__item {
			flex: 1;
			padding: 30upx;

			&-label {
				color: $globalColor-fontStyle;
				font-size: 26upx;
				margin-bottom: 8upx;
			}

			&-data {
				color: $globalColor-fontStyle;
				font-size: 32upx;
			}
		}
	}
}