.initNoData{ 
	font-size: 28upx;
	color: #999999;
	font-weight: 300;
	text-align: center;
	padding: 60upx 0;
	
	&::before{
		content: '';
		width: 100%;
		height: 240upx;
		display: inline-block;
		background-image: url(@/static/public/img-nodata-1.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 600upx 240upx;
	}
}