.initTabs{
	&-control {
		@include flexLeft;
	
		&__item {
			@include initTransition(0.4);
			@include initShadow;
			background-color: #e1e1e1;
			color: #999999;
			font-size: 26upx;
			text-align: center;
			font-weight: bold;
			padding: 15upx 30upx;
			position: relative;
			border-top-left-radius: 18upx;
			border-top-right-radius: 18upx;
			margin-right: 4upx;
			
			&--contract{
				width: 170upx;
			}
				
			&::after{
				content: '';
				display: inline-block;
				width: calc(100% + 8upx);
				height: 20upx;
				background-color: #FFFFFF;
				position: absolute;
				z-index: 1;
				bottom: -20upx;
				left: 0;
			}
			
			&--active {
				background-color: #ffffff;
				color: $globalColor-style;
			}
		}
	}
	
	&-content{
		@include initShadow;
		border-radius: 15upx;
		background-color: #FFFFFF;
	}
}