@font-face {
	font-family: DINPro;
	font-weight: 300;
	font-style: normal;
	src: url('@/static/fonts/DINPro-Medium.otf');
}

@font-face {
	font-family: DINPro;
	font-weight: normal;
	font-style: normal;
	src: url('@/static/fonts/DINPro-Regular.otf');
}

@font-face {
	font-family: DINPro;
	font-weight: 500;
	font-style: normal;
	src: url('@/static/fonts/DINPro-Bold.otf');
}

// @font-face {
// 	font-family: PingFangSC;
// 	font-weight: 300;
// 	font-style: normal;
// 	src: url('@/static/fonts/PingFang-Medium.ttf');
// }

// @font-face {
// 	font-family: PingFangSC;
// 	font-weight: normal;
// 	font-style: normal;
// 	src: url('@/static/fonts/PingFang-Regular.ttf');
// }

// @font-face {
// 	font-family: PingFangSC;
// 	font-weight: 500;
// 	font-style: normal;
// 	src: url('@/static/fonts/PingFang-Bold.ttf');
// }