.safety{
	&-wrapper{
		&-item{
			background: $globalColor-bgColor;
			padding: 30upx;
			@include flexBetween;
			margin-bottom: 20upx;
			&__title{
				color: $globalColor-white;
				font-size: 32upx;
			}
			&__operate{
				color: #999999;
				font-size: 32upx;
				@include flexRight;
				&--edit{
					color: $globalColor-border;
					font-size: 32upx;
				}
				&--image{
					margin-left: 10upx;
					width: 40upx;
					height: 40upx;
				}
			}
		}
	}
}

.content{
	// padding: 0upx 30upx;
	&-using{
		color: #999999;
		font-size: 24upx;
		padding: 30upx 30upx 0upx;
	}
	&-phone{
		color: $globalColor-white;
		text-align: center;
		margin-top: 48upx;
		font-size: 32upx;
		font-family: PingFang SC;
		font-weight: bold;
	}
	&__title{
		color: $globalColor-style;
		font-size: 42upx;
		font-weight: bold;
		margin-top: 70upx;
	}
	&-warpper{
		margin: 0 30upx;
		@include flexLeftColumn;
		&-title{
			color: $globalColor-white;
			font-size: 28upx;
			margin: 45upx 0 24upx;
			&-mt{
				margin-top: 20upx;
			}
		}
		&-input{
			@include flexBetween;
			border: 1px solid $globalColor-border;
			padding: 29upx 28upx;
			width: 100%;
			&-picker{
				color: #333333;
				font-size: 32upx;
				width: 18%;
				background: url(../../static/operate/icon-operate-next.png) no-repeat;
				background-position: calc(100% - 20upx) center;
				background-size: 20upx 20upx;
			}
			input{
				color: $globalColor-white;
				font-size: 32upx;
				width: 90%;
				.inputColor{
					color: $globalColor-border;
				}
			}
			&__see{
				width: 36upx;
			}
		}
		&__bottom{
			border-top: none;
			border-right: none;
			border-left: none;
			border-bottom: 1px solid $globalColor-border;
		}
		&-code{
			color: $globalColor-style;
			font-size: 32upx;
			border-bottom: 1px solid $globalColor-style;
			white-space: nowrap;
		}
	}
	&-flex{
		@include flexLeft;
		background: $globalColor-bgColor;
		padding: 40upx 30upx;
		&-title{
			color: $globalColor-white;
			font-size: 28upx;
			width: 40%;
		}
		&-input{
			@include flexBetween;
			width: 100%;
			&-picker{
				color: #333333;
				font-size: 32upx;
				width: 18%;
				background: url(../../static/operate/icon-operate-next.png) no-repeat;
				background-position: calc(100% - 20upx) center;
				background-size: 20upx 20upx;
			}
			input{
				color: $globalColor-white;
				font-size: 32upx;
				width: 90%;
				.inputColor{
					color: $globalColor-border;
				}
			}
			&__see{
				width: 44upx;
			}
		}
		&-picker{
			background: url(../../static/user/icon-user-next.png) no-repeat;
			background-position: center right;
			background-size: 50upx 50upx;
			text-align: right;
			padding-right: 50upx;
			width: 100%;
			&__title{
				color: $globalColor-style;
				font-size: 32upx;
			}
		}
	}
	&-forgetTitle{
		@include flexRight;
		&-txt{
			color: #999999;
			font-size: 24upx;
			margin-top: 20upx;
		}
	}
}
