.noticeBox {
	&-wrapper {
		padding: 30upx;
	}

	&-item {
		@include flexBetween;
		@include initShadow;
		background-color: #FFFFFF;
		border-radius: 24upx;
		padding: 30upx;
		margin-bottom: 30upx;
		
		&:last-child{
			margin-bottom: 0;
		}

		&__content {
			width: 100%;
			padding-right: 45upx;
			flex: 1;
			background: url(@/static/public/icon-arrow-right-grey.png) no-repeat;
			background-position: right center;
			background-size: 14upx 26upx;
		}

		&__title {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 100%;
			font-size: 32upx;
			margin-bottom: 15upx;
			font-weight: 300;
		}
		&__date {
			font-size: 24upx;
			color: #999999;
		}
	}
}
