@each $theme-name, $theme-map in $themes {
	[data-theme='#{$theme-name}'] {
		background-color: map-get($theme-map, 'globalColor-bgStyle');
	}
}

.noticeDetailBox {
	padding: 30upx 0;
	
	&-wrapper {
		padding: 0 30upx;
	}
	
	&-title {
		@include themeColor('globalColor-fontStyle');
		font-size: 42upx;
		margin-bottom: 30upx;
		font-weight: 300;
	}
	
	&-date {
		@include themeColor('globalColor-fontSubStyle');
		font-size: 24upx;
		margin-bottom: 30upx;
	}
	
	&-data {
		@include themeColor('globalColor-fontSubStyle');
		font-size: 28upx;
		word-break: break-all;
	}
}