.formBox {
	border-bottom: 16upx solid #f7f8fc;
	&-wrapper {
		padding: 30upx;
	}
	&-list {
		margin-bottom: 30upx;
		@include clearLastMargin;
		&__label {
			margin-bottom: 15upx;
			color: #ffffff;
			font-size: 28upx;
		}

		&__data {
			color: #ffffff;
			font-size: 32upx;
			border-bottom: 1upx solid #c6d2e4;
			padding: 15upx 0;
			input {
				font-size: inherit;
				width: 100%;
			}
		}

		&-placeholder {
			font-size: 32upx;
			color: #bfc0c7;
		}
	}
}

.imgBox {
	padding: 30upx;
	&-list {
		margin-bottom: 30upx;
		@include clearLastMargin;
		&__label {
			font-size: 28upx;
			color: $globalColor-fontStyle;
			font-weight: bold;
			margin-bottom: 30upx;
		}
		&__photo {
			@include fullImage;
			width: 400upx;
			height: 260upx;
			margin: 0 auto;
			margin-bottom: 30upx;
			image {
				height: 100%;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.tipsBox {
	font-size: 24upx;
	padding: 30upx;
	margin-top: 30upx;
	&-title {
		color: #333333;
	}
	&-list {
		color: #999999;
	}
}