.listBox {
	&-wrapper{
		padding: 0 30upx;
	}
	&-list {
		@include flexBetween;
		@include initShadow;
		background-color: #FFFFFF;
		align-items: stretch;
		padding: 30upx;
		margin-bottom: 30upx;
		border-radius: 20upx;

		&__label {
			color: $globalColor-fontStyle;
			font-size: 32upx;
			font-weight: 300;
		}

		&__data {
			@include flexCenter;
			font-size: 32upx;
			color: #999999;
			font-weight: 300;
			padding-right: 30upx;
			background: url(@/static/public/icon-arrow-right-grey.png) no-repeat;
			background-size: 14upx 26upx;
			background-position: right center;

			&--white{
				color: #FFFFFF;
			}
			
			&--black{
				color: #000000;
			}
			
			&--style{
				color: $globalColor-style;
			}
			
			&--noArrow {
				background: none;
				padding-right: 0;
			}
		}
	}
}