page,.pages{
	background: #faf4eb;
}

.productBuy{
	overflow: scroll;
	&-image{
		position: fixed;
		text-align: center;
		width: 100%;
		margin: 30upx auto;
		image{
			width: 100%;
			height: 300upx;
			margin: auto;
		}
	}
}

.tipsBox{
	&-title{
		&__label{
			padding-left: 0upx;
			font-size: 38upx;
			&::before{
				background: transparent;
			}
		}
	}
	&-right{
		&-title{
			text{
				font-size: 45upx;
				font-weight: bold;
				color: $globalColor-styleActive;
			}
		}
	}
}

.productBuyBox{
	box-shadow: 0upx -10upx 24upx 0upx rgba(147, 147, 147, 0.27);
	background: $globalColor-white;
	margin: 0 0upx 30upx;
	border-radius: 30upx 30upx 0 0;
	padding: 68upx 0 16upx;
	height: 80vh;
	position: absolute;
	// top: 32%;
	top: 38%;
	width: 100%;
	&-count{
		@include flexLeft;
		margin: 0upx 30upx 20upx;
		image{
			width: 60upx;
			height: 60upx;
		}
		input{
			font-size: 28upx;
			font-weight: bold;
			color: $globalColor-fontStyle;
			width: 15%;
			text-align: center;
		}
	}
	&-title{
		color: $globalColor-fontStyle;
	}
	&-list{
		&-data{
			@include flexBetween;
			margin: 0upx 30upx;
			padding: 8upx 0;
			&--active{
				padding-bottom: 30upx;
			}
			&-title{
				@include flexLeft
				font-size: 24upx;
				color: #999999;
			}
			.yellow{color: #FFC033;}
			&-price{
				font-size:28upx;
				color: $globalColor-fontStyle;
				font-weight: 500;
			}
		}
	}
	&-from{
		margin: 30upx;
		&-box{
			@include flexLeftColumn;
			&-lable{
				color: $globalColor-fontStyle;
				font-size: 35upx;
				font-weight: bold;
			}
			
			input{
				background: $globalColor-white;
				border-radius: 20upx;
				@include initShadow;
				padding: 0upx 30upx;
				height: 100upx;
				line-height: 100upx;
				margin: 20upx 0;
				width: 100%;
			}
		}
	}
	&-data{
		@include flexBetween;
		padding: 10upx 0 0;
		&-title{
			color: #999999;
			font-size: 26upx;
		}
		&-bold{
			color: $globalColor-fontStyle;
			font-size: 28upx;
			font-weight: bold;
		}
	}
	&-wrapper{
		border-top: 20upx solid #f5f5f5;
		@include flexLeftColumn;
		padding: 30upx;
	}
	&-headerTitle{
		font-size: 35upx;
		font-weight: bold;
		color: $globalColor-fontStyle;
		margin-bottom: 10upx;
	}
	&-content{
		color: #999999;
		font-size: 28upx;
		line-height: 40upx;
	}
}

.productBuyBtn{
	position: fixed;
	bottom: 0;
	width: 100%;
	@include flexBetween;
	background: $globalColor-white;
	padding: 10upx 30upx;
	&-title{
		@include flexLeft;
		&-name{
			color: $globalColor-fontStyle;
			font-weight: bold;
			
		}
		&-total{
			color: $globalColor-style;
			font-weight: bold;
		}
	}
	&-btn{
		width: 50%;
		text-align: center;
		border-radius: 20upx;
		padding: 20upx 0upx;
		background: $globalColor-style;
		color: $globalColor-white;
		font-weight: bold;
	}
}

.listBox{
	width: 100vw;
	background: $globalColor-white;
	border-radius: 20upx 20upx 0 0;
	@include flexLeftColumn;
	&-close{
		color: #999999;
		font-size: 80upx;
		display: block;
		text-align: left;
		padding: 0 30upx;
	}
	&-usdt{
		color: $globalColor-style;
		font-size: 45upx;
		font-weight: bold;
		text-align: center;
		display: block;
		width: 100%;
		margin-bottom: 50upx;
	}
	&-form{
		&--flex{
			@include flexBetween;
		}
		text-align: center;
		padding: 30upx;
		width: 100%;
		border-bottom: 1px solid $globalColor-border;
		&:nth-last-child(1){border-bottom: none;}
		&__label{
			color: $globalColor-fontStyle;
			font-size: 30upx;
		}
		&__label--next{
			background: url(../../static/public/icon-next.png);
			background-size: 30upx 30upx;
			background-repeat: no-repeat;
			background-position: center right;
			padding-right: 40upx;
		}
	}
}
