.orderBox{
	&-wrapper{
		&-item:nth-last-child(1){border-bottom: none;}
		&-item{
			background: $globalColor-bgStyle;
			border-bottom: 1px solid $globalColor-border;
			&-list{
				@include flexBetween;
				padding: 0 30upx 30upx;
			}
		}
	}
	&-list:nth-child(1){@include flexLeftColumn;}
	&-list:nth-child(2){@include flexCenterColumn;}
	&-list:nth-child(3){@include flexRightColumn;}
	&-list{
		&-title{
			color: #999999;
			font-size: 24upx;
		}
		&-num{
			color: $globalColor-fontStyle;
			font-size: 28upx;
			margin-top: 10upx;
		}
	}
}
.tipsBox{
	&-title{
		&__label{
			color: $globalColor-style;
		}
	}
}
