$themes: (
	light: (
		globalColor-themeStyle: #EC6B00,
		globalColor-themeSubStyle: #FFFFFF,
		globalColor-bgStyle: #FFFFFF,
		globalColor-pageStyle: #FFFFFF,
		globalColor-cardStyle: #FFFFFF,
		globalColor-fontStyle: #101010,
		globalColor-fontSubStyle: #999999,
		globalColor-fontStyleReverse: #ffffff,
		globalColor-green: #00c087,
		globalColor-greenLight: #edf8f5,
		globalColor-red: #f75555,
		globalColor-redLight: #ffeded,
		globalColor-borderStyle: #e1e1e1,
		globalColor-inputBorderStyle: #cccccc,
		globalColor-inputBgStyle: #f0f0f0,
		globalColor-placeholderStyle: #cccccc,
		globalColor-holderStyle: #f5f5f5,
		globalColor-typeStyle: #F0F0F0,
		globalColor-fontTypeStyle: #0A273F,
	),
	dark: (
		globalColor-themeStyle: #EC6B00,
		globalColor-themeSubStyle: #EC6B00,
		globalColor-bgStyle: #21262F,
		globalColor-pageStyle: #171D24,
		globalColor-cardStyle: #292F3C,
		globalColor-fontStyle: #FFFFFF,
		globalColor-fontSubStyle: #65778e,
		globalColor-fontStyleReverse: #161616,
		globalColor-green: #00c087,
		globalColor-greenLight: #162e3a,
		globalColor-red: #f75555,
		globalColor-redLight: #2e2536,
		globalColor-borderStyle: #666666,
		globalColor-inputBorderStyle: #383E4B,
		globalColor-inputBgStyle: #292F3C,
		globalColor-placeholderStyle: #3C434B,
		globalColor-holderStyle: #171D24,
		globalColor-typeStyle: #292F3C,
		globalColor-fontTypeStyle: #FFFFFF,
	)
);