/* 头部 */
.header_fixed{position: fixed;top: 0;left: 0;width: 100%;z-index: 9;}
.header_fixed + view{
	/* #ifdef H5 */
	padding-top: 120upx;
	/* #endif */
	/* #ifdef APP-PLUS */
	padding-top: 180upx;
	/* #endif */
	}
.header_bar{
	/* #ifdef APP-PLUS */
	padding-top:var(--status-bar-height);
	/* #endif */
}
.header_bg{
	background: #FFFFFF;
}
.header_main{
	background: #F7F7F7;
}

.header_bar--absolute{
	position: absolute;
	width: 100%;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	background: transparent;
}

.header_bar--absolute + view{
		padding-top: 30upx;
	}

.header{width: 100%;position: relative;padding:3% 2%;font-weight: 500;box-sizing: border-box;
	border: none;height: 100upx;z-index: 9;
	&-goBack{position: absolute;bottom: 0;left: 0;margin-left:0upx;margin-top:0upx;width: 110upx;height: 100upx;z-index: 9;
	background: url(../../static/operate/icon-header-back.png);background-size: 70upx 70upx;background-repeat: no-repeat;background-position: 30upx center;}
	&-back{position: absolute;bottom: 0;left: 0;margin-left:0upx;margin-top:0upx;width: 90upx;height: 100upx;z-index: 9;
	background: url(../../static/public/icon-header-back.png);background-size: 20upx 35upx;background-repeat: no-repeat;background-position: 30upx center;}
	&-white{position: absolute;bottom: 0;left: 0;margin-left:0upx;margin-top:0upx;width: 90upx;height: 100upx;z-index: 9;
	background: url(../../static/public/icon-header-back-white.png);background-size: 20upx 35upx;background-repeat: no-repeat;background-position: 30upx center;}
	&-title{color: $globalColor-fontStyle;font-size: 18px;text-align: center;letter-spacing: 1px;font-weight: bold;font-family: PingFang SC;
		image{width: 84px;height: 25px;}
	}
	&-title-white{color: #FFFFFF;font-size: 18px;text-align: center;letter-spacing: 1px;font-weight: bold;font-family: PingFang SC;}
	
	.left{position: absolute;left: 30upx;top:30upx;width: 5%;}
	
	& + view{padding-top: 60upx !important;}
	
	&-left{position: absolute;font-size: 12px;left: 0upx;top:6px;color: $globalColor-fontStyle;@include flexLeft;
		image{width: 280upx;}
	}
	
	&-goRight{position: absolute;right: 20upx;top:0px;width: 110upx;height: 100upx;z-index: 9;
	background-image: url(../../static/public/icon-record-white.png);background-size: 70upx 70upx;background-repeat: no-repeat;background-position: 30upx center;
	}
	&-right{position: absolute;font-size: 12px;right: 30upx;top:12px;color: $globalColor-fontStyle;@include flexCenterColumn;
		image{width: 40upx;height: 40upx;}
		&-title{
			color: $globalColor-fontStyle;
			font-size: 20upx;
		}
	}
	
	&-tabs{
		@include flexLeft;
		&__title{
			font-size: 50upx;
			color: $globalColor-fontStyle;
			font-weight: 600;
			letter-spacing: 4upx;
		}
	}
	&_border{
		border-bottom: 1px solid $globalColor-border;
	}
}

.priceBox{
	&-list{
		@include flexCenterColumn;
		margin: 0 30upx;
		&-item:nth-last-child(1){border: none;}
		&-item{
			width: 100%;
			@include flexBetween;
			border-bottom: 1px solid #CCCCCC;
			padding: 20upx 0upx;
			&-image{
				width: 33.33%;
				@include flexLeft;
				image{
					width: 35upx;
					margin-right: 15upx;
				}
				&-name{
					color: globalColor-fontStyle;
					font-size: 28upx;
				}
			}
			&-name{
				color: globalColor-fontStyle;
				font-size: 28upx;
				font-weight: 600;
			}
			&__price{
				@include flexLeftColumn
			}
			&-price{
				text-align: center;
				width: 33.33%;
				color:$globalColor-style;
			}
			&-priceCny{
				text-align: right;
				width: 33.33%;
				color:#999999;
				font-size: 20upx;
			}
		}
		&__rise{
			background: #25a57c;
			color: $globalColor-white;
			font-size: 28upx;
			font-weight: 400;
			padding: 10upx 20upx;
			border-radius: 10upx;
			&-red{
				background: #d54141;
			}
		}
	}
}

