/* 暂时处理 var(--status-bar-height)不生效 */
$initStatusBarHeight: 25px;

/* 颜色 */
$globalColor-bgStyle: #f5f5f5;
$globalColor-styleActive: #FFC033;
$globalColor-style: #ffa938;
$globalColor-fontStyle: #101010;
$globalColor-fontColor: #c06300;

$globalColor-white: #FFFFFF;
$globalColor-blue: #386cff;
$globalColor-orange: #ff6203;
$globalColor-green: #FFC033;
$globalColor-red: #ff2c4f;

$globalColor-black: #141918;
$globalColor-blur: rgba(255, 255, 255, 0.5);

$globalColor-kline-green: #FFC033;
$globalColor-kline-red: #ff2c4f;

$globalColor-border-light-grey: #f9f9f9;
$globalColor-border-light: #fbfefd;
$globalColor-border: #CCCCCC;

/* 导航条高度 */
$global-header-height: 90upx;
