.record{
	.recordBox{
		&-list{
			margin-bottom: 20upx;
			border-bottom: 1px solid rgba(255, 192, 51, .2);
			&-header{
				@include flexBetween;
				padding: 0 30upx;
				&-title{
					color: $globalColor-style;
					font-size: 32upx;
				}
			}
			&-box{
				@include flexLeft;
			}
			&-item:nth-child(1){width: 40%;}
			&-item:nth-last-child(1){@include flexRightColumn;}
			&-item{
				@include flexLeftColumn;
				padding: 20upx 30upx;
				width: 30%;
				&-title{
					color: #999999;
					font-size: 24upx;
				}
				&-status{
					color: $globalColor-fontStyle;
					font-size: 28upx;
					font-weight: bold;
					word-break: break-all;
					text-align: right;
				}
			}
		}
	}
}