.fixedBox {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	&-wrapper {
		padding: 60upx 30upx;
	}
}	

.initButton {
	@include flexCenterColumn;
	
	&--fixed{
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 30upx;
		padding-bottom: calc(constant(safe-area-inset-bottom) + 30upx);
		padding-bottom: calc(env(safe-area-inset-bottom) + 30upx);
	}
	
	&--absolute{
		position: absolute;
		bottom: 60upx;
		left: 0;
		width: 100%;
		padding: 0 30upx;
	}
	
	&-row{
		@include flexCenter;
		flex: 1;
		width: 100%;
	}
	
	&-btn {
		@include flexCenter;
		flex: 1;
		padding: 20upx 0;
		border-radius: 18upx;
		font-size: 100%;
		width: 100%;
		font-size: 32upx;
		color: #FFFFFF;
		font-weight: bold;
		
		+ .initButton-btn{
			margin-top: 30upx;
			
			.initButton-row &{
				margin-top: 0;
			}
		}
		
		.initButton-row &{
			margin-right: 30upx;
			
			&:last-child{
				margin-right: 0;
			}
		}
		
		&--style {
			// @include initButtonGrad;
			background-color: $globalColor-style;
		}
		
		&--subStyle {
			background-color: $globalColor-subStyle;
		}
		
		&--disable {
			background-color: #CCCCCC;
		}
		
		&--red {
			background-color: red;
		}
	}
}