.pages {
	@include flexCenterColumn;
	height: 100vh;
	background-color: #FFFFFF;
}

.main {
	@include flexCenterColumn;
	height: 100%;
	width: 100%;
	padding: 0 60upx;
}

.logoBox {
	@include flexCenterColumn;
	margin-bottom: 200upx;

	&-img {
		@include fullImage;
		width: 144upx;
		margin-bottom: 30upx;
	}
	
	&-msg{
		color: #222222;
		font-size: 28upx;
		font-weight: bold;
	}
}

.buttonBox {
	width: 100%;
	
	&-wrapper {
		// @include flexCenterColumn;
	}

	&-btn {
		flex: 1;
		padding: 20upx 0;
		border-radius: 45upx;
		font-size: 100%;
		width: 100%;
		text-align: center;
		border: 2upx solid #18192e;
		margin-bottom: 45upx;
		font-size: 32upx;
		font-weight: bold;

		&:last-child {
			margin-bottom: 0;
		}

		&--full {
			background-color: #18192e;
			color: #FFFFFF;
			border: 2upx solid #18192e;
		}
	}
}