[data-theme='light'] {
	background-color: #EC6B00;
}

[data-theme='dark'] {
	background-color: #171D24;
}

.main {
	position: relative;
	z-index: 1;
}

.headerInfo {
	margin-top: 30upx;

	&-wrapper {
		@include flexCenter;
	}

	&-icon {
		@include fullImage;
		width: 642upx;
	}
}

.rankingListBox {
	padding: 0 30upx 30upx;

	&-wrapper {
		@include themeBgColor('globalColor-bgStyle');
		padding: 30upx 30upx 0;
		border-radius: 18upx;
		min-height: calc(100vh - (#{$global-header-height} + var(--status-bar-height) + 174upx + 60upx));
	}

	&-header {
		@include flexCenter;
		@include themeColor('globalColor-fontSubStyle');
		font-size: 24upx;
		font-weight: 300;
	}

	&-list {
		@include flexCenter;
		@include themeBorderColor('globalColor-holderStyle');
		@include themeColor('globalColor-fontStyle');
		font-size: 28upx;
		font-weight: bold;
		padding: 30upx 0;
		border-bottom: 1px solid;
	}

	&-data {
		flex: 1;

		&--flex4 {
			flex: 4;
		}

		&--style {
			@include themeColor('globalColor-themeStyle');
		}

		&:last-child {
			text-align: right;
		}
	}
}

.userInfoBox {
	&-wrapper {
		@include flexLeft;
	}

	&-avatar {
		@include initAvatar(60);
		margin-right: 15upx;
	}

	&-name {
		@include themeColor('globalColor-fontStyle');
		font-weight: bold;
		font-size: 28upx;
	}
}

.rankingNumBox{
	&-img{
		@include fullImage;
		width: 44upx;
	}
	
	&-data{
		@include themeColorValue('#999999','#65778e');
		font-size: 28upx;
		font-weight: bold;
	}
}