* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'DINPro', 'PingFangSC-Regular', 'AvenirBold';
}

image {
	height: 0;
	display: block;
}

// 全局背景色
page{
	background-color: $globalColor-bgStyle;
}
.pages{
	background-color: $globalColor-bgStyle;
	/* #ifdef APP-PLUS */
	min-height: 100vh;
	/* #endif */
	overflow: scroll;
}
.inputColor{
	color: #CCCCCC;		
}
.contentBg{
	background: $globalColor-bgStyle;
	height: 100vh;
}
.tipsBox {
	position: relative;
	@include flexBetween;
	// border-top: 16upx solid #f5f6f8;
	&-wrapper {
		// padding: 0 30upx;
	}

	&-title {
		@include flexBetween;

		padding: 30upx;

		&__label {
			@include initBeforeHolder;
			font-size: 32upx;
			color: $globalColor-fontStyle;
			font-weight: bold;
		}

		&__more {
			color: #999999;
			font-size: 24upx;
		}
	}
	&-right{
		background: url(../../static/user/icon-user-next.png);
		background-size: 40upx 40upx;
		background-repeat: no-repeat;
		background-position: right;
		padding-right: 40upx;
		position: absolute;
		right: 10upx;
		width: 40upx;
		height: 40upx;
		&-title{
			color: $globalColor-fontStyle;
			font-size: 32upx;
			font-weight: 500;
		}
	}
}	

.mt-bg{
	background-color: #EDEDF2;
	width: 100%;
	height: 20upx;
	display: block;
}

.initBtn{
	background: $globalColor-style;
	border: 1px solid $globalColor-style;
	color: $globalColor-white;
	margin: 60upx auto 20upx;
	text-align: center;
	border-radius: 50upx;
	width: 90%;
	font-size: 32upx;
	padding: 20upx 0;
	font-weight: bold;
	letter-spacing: 8upx;
}

.orderBtn{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 52upx;
	padding: 30upx;
	width: 100%;
	&-btn{
		background: $globalColor-style;
		color: $globalColor-white;
		font-size: 32upx;
		font-weight: bold;
		padding: 27upx 0;
		text-align: center;
		border-radius: 50upx;
	}
}